<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store-Manager | Home</title>
    <link rel="shortcut icon" href="../images/online-store.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <div class="background-image"></div>
    <div class="tinted-image"></div>
    <div class="content">
        <div class="nav-bar">
            <div class="topnav" id="my-top-nav">
                <a href="home.html" id="active">Home</a>
                <a href="sales.html" id="sales">All Sales</a>
                <a href="products.html" id="products">Products</a>
                <a href="records.html" id="sales-records">Records</a>
                <a href="javascript:void(0);" class="icon" onclick="bars(this)">
                    <div class="container" onclick="">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <p id="invalid"></p>
            <h1>Available Products</h1>
            <div class="products">
                <p>Click the refresh button to view all products in the store. <button id="refresh">Refresh table</button></p>
                <div class="center hideform">
                    <span id="close">&times;</span><br>
                    <form>
                        <input id="quantity" type="number" name="quantity" placeholder="Sale Quantity"
                            required>
                        <br>
                        <br>
                        <input id="submit-btn" type="submit" value="Sell">
                    </form>
                </div>
                <table id="table">
                    <thead>
                        <th>Product ID</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Available Quantity</th>
                        <th>Unit Price</th>
                        <th>Sell</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div>
            <footer>
                Store-Manager Inc. 2018
            </footer>
        </div>
    </div>
    <script src="../script/script.js"></script>
    <script src="../script/home.js"></script>
</body>

</html>