<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store-Manager | Products</title>
    <link rel="shortcut icon" href="../images/online-store.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <div class="background-image"></div>
    <div class="tinted-image"></div>
    <div class="content">
        <div class="nav-bar">
            <div class="topnav" id="my-top-nav">
                <a href="home.html" id="home">Home</a>
                <a href="sales.html" id="sales">My Sales</a>
                <a href="products.html" id="active">Products</a>
                <a href="records.html" id="sales-records">Records</a>
                <a href="attendant.html">Register Attendant</a>
                <a href="javascript:void(0);" class="icon" onclick="bars(this)">
                    <div class="container" onclick="">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <p id="invalid"></p>
            <h1>Products</h1>
            <div id="store">
                <p>Click the refresh button to view all products in the store. <button id="refresh">Refresh table</button></p>
                <table id="table">
                    <thead>
                        <th>Product Id</th>
                        <th>Category</th>
                        <th>Item</th>
                        <th>Available Quantity</th>
                        <th>Unit Price</th>
                        <th>Store</th>
                    </thead>
                    <tbody>
                        <tr id="">
                            <td id="product-id"></td>
                            <td id="product-category"></td>
                            <td id="product-name"></td>
                            <td id="product-quantity"></td>
                            <td id="product-unitprice"></td>
                            <td id="delete-product"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <form action="">
                                    <div class="flex-wrap">
                                        <input type="text" name="item" id="category" placeholder="Category" required>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="">
                                    <div class="flex-wrap">
                                        <input type="text" name="item" id="name" placeholder="Name" required>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="">
                                    <div class="flex-wrap">
                                        <input type="number" name="quantity" id="quantity" placeholder="Quantity" required>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form action="">
                                    <div class="flex-wrap">
                                        <input type="number" name="unit-price" id="unit-price" placeholder="Unit Price"
                                            required>
                                    </div>
                                </form>
                            </td>
                            <td><button id="submit-btn" type="submit">Add to Store</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <footer>
                Store-Manager Inc. 2018
            </footer>
        </div>
    </div>
    <script src="../script/script.js"></script>
    <script src="../script/addProduct.js"></script>
</body>

</html>