<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store-Manager | Records</title>
    <link rel="shortcut icon" href="../images/online-store.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <div class="background-image"></div>
    <div class="tinted-image"></div>
    <div class="content">
        <div class="nav-bar">
            <div class="topnav" id="my-top-nav">
                <a href="home.html">Home</a>
                <a href="sales.html">My Sales</a>
                <a href="products.html">Products</a>
                <a href="records.html" id="active">Records</a>
                <a href="attendant.html">Register Attendant</a>
                <a href="../templates/login.html">Log Out</a>
                <a href="javascript:void(0);" class="icon" onclick="bars(this)">
                    <div class="container" onclick="">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container">
            <h1>Today's Sales</h1>
            <div class="sales">
                <table>
                    <thead>
                        <th>Attendant</th>
                        <th>Item</th>
                        <th>Sold Quantity</th>
                        <th>Total Sales</th>
                    </thead>
                    <tr>
                        <td>Ruth</td>
                        <td>Sugar</td>
                        <td>40 kg</td>
                        <td>20000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Coffee</td>
                        <td>100 tins</td>
                        <td>30000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Salt</td>
                        <td>5 kg</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Baking Flour</td>
                        <td>4 kg</td>
                        <td>2000</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <footer>
                Store-Manager Inc. 2018
            </footer>
        </div>
    </div>
    <script src="../script/script.js"></script>
</body>

</html>