<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store-Manager | Home</title>
    <link rel="shortcut icon" href="../images/online-store.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>

<body>
    <div class="background-image"></div>
    <div class="tinted-image"></div>
    <div class="content">
        <nav class="nav-bar">
            <a href="#" class="active">Home</a>
            <a href="#">Products</a>
            <a href="#">Profile</a>
            <a href="../templates/login.html">Log Out</a>
        </nav>
        <div class="container">
            <h1>Available Products</h1>
            <div class="products">

            </div>
        </div>
    </div>

</body>

</html>