<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store-Manager | Login</title>
    <link rel="shortcut icon" href="../images/online-store.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>

<body>
    <div class="background-image"></div>
    <div class="tinted-image"></div>
    <div class="content">
        <div class="container">
            <h1 id="heading">Login Here</h1>
            <form action="home.html">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <input type="submit" id="submit" value="Login">
            </form>
        </div>
        <div class="login-link">
            <p>Don't have an account? <a href="../index.html">Register Here</a></p>
        </div>
    </div>

</body>

</html>